
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Tamma 2', cursive;
}

body{
    background-color: rgb(26, 25, 25);
}

 header{
     background-color: rgb(26, 25, 25);
     color: #ffffff;
     padding-bottom: 20px;
     margin-bottom: 20px;
 }

 h1{
     text-align: center;
 }

 nav{
     padding-left: 20px;
 }

 ul{
     list-style: none;
 }

 ul li{
     float: left;
     padding-left: 20px;
 }

 label{
     padding-left: 20px;
 }

 select{
    font-size: 14px;
    color: #8649BF;
    background-color: rgb(26, 25, 25);
    padding-left: 10px;
    border: none;
    overflow: none;
 }

 .content{
     background-color: rgb(26, 25, 25);
     padding: 0 50px; }

 img{
     padding: 10px;
     width: 160px;

 }

 @media screen and (max-width: 800px){
     .content{
         padding: 0;
         padding: 0 50px;

     }
     img{
         display: inline;
         margin: auto
     }
 }

 @media screen and (max-width: 400px){
    *{
        font-size: 11px;
    }

    select{
        float: right;
    }

    option{
        display: right;
    }

    img{
        width: 100px;
    }
 }